
h1{
  color: purple;
}

h2 {
  color: orange;
}

p {
  color: gray;
}

ul {
  border: 5px solid orange;
}

ol {
  border: 5px solid purple;
}

ol, ul {
  padding: 5px 30px;
  border-radius: 15px;
}

strong{
  color: orange;
}

em {
  color: gray;
}
    